.header {
  position: fixed;
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  color: #fff;
  mix-blend-mode: difference;
  width: 100%;
  z-index: 88;
}

@media screen and (min-width: 734px) {
  .header {
    margin-top: 4.625rem;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-top: 8.125rem;
    left: 0;
    right: 0;
  }
}

.header h2 {
  max-width: 180px;
}