.getInTouch {
  width: 100%;
  text-align: left;
}

@media (min-width: 550px) {
  .getInTouch {
    text-align: right;
  }
}

.list {
  margin-top: 12px;
  /* text-align: left; */
}

.item {
  line-height: 2;
}

@media (min-width: 550px) {
  .item {
    line-height: 1.5;
  }
}

.link {
  display: inline-block;
  position: relative;
}

.link:hover:after {
  content: ' 🡥'
}