.scrollButton {
  cursor: pointer;
  background-color: var(--bg);
  position: fixed;
  bottom: 2.5vw;
  right: 2.5vw;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.1);

  display: flex;
  align-items: center;
  gap: 8px;

  z-index: 99;
  transition: box-shadow .3s ease;
}

.scrollButton:hover {
  box-shadow: 0 0 30px 10px rgba(0,0,0,.1)
}