.scrollButton {
  cursor: pointer;
  color: #fff;
  mix-blend-mode: difference;
  position: fixed;
  bottom: 2.5vw;
  right: 2.5vw;
  padding: 8px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 8px;

  z-index: 99;
}
