:root {
  --font: #000;
  --bg: #FFF;

  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

  --base-unit: 6vw;
  --border-radius: 16px;
  --grid-cols: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font: #FEFEFE;
    --bg: #090909;
  }
}


/* BASE */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--bg);
  background: var(--font);
}

::selection {
  color: var(--bg);
  background: var(--font);
}

html {
  scroll-behavior: smooth;
}

html, body, #__next {
  height: 100%;
}

html, body, input, textarea, button {
  font-family: var(--font-family);
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1, "liga", "clig";
}

html,
body {
  font-size: 16px;
  color: var(--font);
  background-color: var(--bg);
  caret-color: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  width: auto;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}


/* LAYOUT */

.container {
  margin: 0 auto;
  position: relative;
}

.container--md {
  max-width: 1360px;
  padding: var(--base-unit);
}

.container--lg {
  max-width: 1660px;
  padding: 0;
}

.grid {
  display: block;
}

.grid--title {
  grid-area: title
}

.grid--description {
  grid-area: description;
}

.grid--link {
  grid-area: link;
}


/* HELPERS */

.o--hidden {
  overflow: hidden;
}

.d--inline-block {
  display: inline-block;
}

.mb--md {
  margin-bottom: 2rem;
}

.rounded--top {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.pt--0 {
  padding-top: 0 ;
}


/* MEDIA QUERIES */

@media (min-width: 550px) {
  :root {
    --border-radius: 2vw;
    --grid-cols: 5;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-areas:
    "title description . . link"
  }

  .container--lg {
    padding: var(--base-unit);
  }
}