:root {
  --font: #000;
  --bg: #FFF;
  --accent-color: #ff8e0d;
  
  --project-1: #F3F3F5; 
  --project-2: #c2c2c2; 
  --project-3: #808080; 

  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

  --base-unit: 6vw;
  --border-radius: 16px;

  --small-size: 2;
  --medium-size: 4;
  --large-size: 6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font: #FEFEFE;
    --bg: #090909;
    --accent-color: #b67a35;

    --project-1: #7f7f86;
    --project-2: #404046;
    --project-3: #111112;
  }
}

@media (min-width: 450px) {
  :root {
    --border-radius: 2vw;
  }
}


/* BASE */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--font);
  background: var(--accent-color);
}

::selection {
  color: var(--font);
  background: var(--accent-color);
}

html {
  scroll-behavior: smooth;
}

html,
body,
#__next {
  height: 100%;
}

html,
body,
input,
textarea {
  font-family: var(--font-family);
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1, "liga", "clig";
}

html,
body {
  font-size: 16px;
  color: var(--font);
  background-color: var(--bg);
  caret-color: var(--font);
}

h1,
h2,
h3, 
h4, 
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: currentColor;
  text-decoration: none;
}


/* LAYOUT */

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

.container {
  margin: 0 auto;
  padding: 6vw;
  position: relative;
}

.container--medium {
  max-width: 1360px;
}

.container--large {
  max-width: 1660px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.main {
  margin-top: calc(100vh - (var(--base-unit) * 4));
}

.project-link {
  display: block;
  position: sticky;
  height: var(--base-unit);
  cursor: pointer;
  z-index: 3;
}

.project-link-1 {
  bottom: calc(var(--base-unit) * 2);
}

.project-link-2 {
  bottom: var(--base-unit);
}

.project-link-3 {
  bottom: 0;
}

.project-link:after,
.project:after {
  content: '';
  display: block;
  height: var(--base-unit);
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.project:after {
  bottom: calc(var(--base-unit) * -1);
}

.project-link-1:after,
.project.bg--project-1:after {
  background: var(--project-1);
}

.project-link-2:after,
.project.bg--project-2:after {
  background: var(--project-2);
}

.project-link-3:after,
.project.bg--project-3:after {
  background: var(--project-3);
}

.project {
  height: 100vh;
  position: relative;
  z-index: 3;
}

.project:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.project:last-child:after {
  content: none;
}

.project__info {
  position: sticky;
  top: var(--base-unit)
}

.scrol-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 18px;
}


/* HELPERS */

.o--hidden {
  overflow: hidden;
}

.d--inline-block {
  display: inline-block;
}

.d--grid {
  display: grid;
}

.mb--small {
  margin-bottom: calc(var(--base-unit) * var(--small-size));
}

.mb--medium {
  margin-bottom: 2rem;
}

.mb--large {
  margin-bottom: var(--base-unit);
}

.five--cols {
  grid-template-columns: repeat(5, 1fr);
}

.two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.gap--medium {
  gap: 8px;
}

.t--6vw {
  top: 6vw;
}

.col-1-1 {
  grid-area: 1 / 1
}

.col-1-2 {
  grid-area: 1 / 2 ;
}

.col-2-2 {
  grid-area: 2 / 2 ;
}

.col-3-2 {
  grid-area: 3 / 2 ;
}

.col-1-5 {
  grid-area: 1 / 5;
}

.col-1-6 {
  grid-area: 1 / 6;
}

.col-span-3 {
  grid-area: 1 / span 3;
}

.top-rounded {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.pt--0 {
  padding-top:0 ;
}

.opacity--7 {
  opacity: .7;
}

.bg--project-1 {
  background-color: var(--project-1);
}

.bg--project-2 {
  background-color: var(--project-2);
}

.bg--project-3 {
  background-color: var(--project-3);
}