:root {
  --font: #000;
  --bg: #FFF;
  --accent-color: #ff8e0d;

  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  --base-unit: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font: #FEFEFE;
    --bg: #090909;
    --accent-color: #b67a35;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--font);
  background: var(--accent-color);
}

::selection {
  color: var(--font);
  background: var(--accent-color);
}

html,
body,
input,
textarea {
  font-family: var(--font-family);
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1, "liga", "clig";
}

html,
body {
  font-size: 16px;
  color: var(--font);
  background-color: var(--bg);
  caret-color: var(--font);
  overflow-x: hidden;
}

h1,
h2,
h3, 
h4, 
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 6vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.col-1-1 {
  grid-area: 1 / 1
}

.col-1-2 {
  grid-area: 1 / 2;
}

.col-1-5 {
  grid-area: 1 / 5;
}

.mb--small {
  margin-bottom: calc(var(--base-unit));
}

.mb--medium {
  margin-bottom: calc(var(--base-unit) * 4);
}

.mb--large {
  margin-bottom: calc(var(--base-unit) * 8);
}

.lines__line {
  overflow: hidden;
}

.lines__line__content {
  display: inline-block;
}