:root {
  --text: #000000;
  --bg: #FEFEFE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #FEFEFE;
    --bg: #000;
  }
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

*,:after,:before {
  box-sizing: inherit
}

* {
  -webkit-tap-highlight-color: transparent
}

:focus {
  outline: 0
}

::-moz-selection {
  color: var(--bg);
  background: var(--text);
}

::selection {
  color: var(--bg);
  background: var(--text);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1920px) {
  html {
      font-size:134%
  }
}

@media screen and (min-width: 2340px) {
  html {
    font-size:189%
  }
}

@media screen and (min-width: 3200px) {
  html {
    font-size:1vw
  }
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1;
  font-size: 1.25rem;
  line-height: 1.375rem;
  overflow-x: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

ol,ul {
  list-style: none
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  opacity: .5
}

button {
  cursor: pointer;
  border: none;
  width: auto;
  font: inherit;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}


/* LAYOUT */

.container {
  width: 100%;
  position: relative;
}

.grid {
    width: 100%;
    padding: 0 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    position: relative;
}

.grid-col-1,
.grid-col-2-3 {
  grid-area: 1 / 1;
}

.grid-col-2 {
  grid-area: 2 / 1;
}

.grid-col-3 {
  grid-area: 3 / 1;
}

@media screen and (min-width: 734px) {
  .grid {
    padding: 0;
    margin: 0 4.0625rem;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .grid-col-2 {
    grid-area: 1 / 2;
  }
  
  .grid-col-3 {
    grid-area: 1 / 3;
  }

  .grid-col-2-3 {
    grid-area: 1 / 2 / 1 / span 2;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
      margin: 0 8.125rem;
      grid-template-columns: 3fr 1fr 1fr;
  }
}


/* HELPERS */

.d--inline-block {
  display: inline-block;
}

.o--hidden {
  overflow: hidden;
}